__pycache__/*
build/*
dist/*
main.spec
erros
pynps.spec
pynps/*
.pytest_cache/*
.vscode/*
test_pytest.py
test.py
release.py
gui.py
PKGBUILD
update_versioning.py
pynps.egg-info/*
pynps_config/*
pynps_database/*
pynps_downloads/*
