__pycache__/*
pynps/*/__pycache__/*
pynps/__pycache__/*
build/*
dist/*
__main__.spec
erros
pynps.spec
venv/*
.pytest_cache/*
.vscode/*
test_pytest.py
test.py
release.py
gui.py
PKGBUILD
update_versioning.py
pynps.egg-info/*
pynps_config/*
pynps_database/*
pynps_downloads/*
pynps/Scripts/*
