__pycache__/*
*/*/__pycache__/*
*/__pycache__/*
tests/*
testfiles/*
test_*.py
build/*
dist/*
*.spec
erros
pynps.spec
venv/*
.pytest_cache/*
.vscode/*
test_pytest.py
test.py
release.py
gui.py
PKGBUILD
update_versioning.py
pynps.egg-info/*
pynps_config/*
pynps_database/*
pynps_downloads/*
pynps/Scripts/*
lib/*
pyinstaller_distribute.py
dist_onefile/*
dist_onefolder/*
Output/*
htmlcov/*
